body {
    color:#FFFFFF; 
    background-color: #000000; 
    font-family: "Lucida Grande", sans-serif;
}
h1 {
    font-size:64px;
    text-align:center;
}
h2 {
    font-size:30px;
    text-shadow: 5px 5px 2px #808080;
}
p {
    font-size:24px;
    padding-top:20px;
}
img{
    width:525px;
    display:block;
}
div{
    padding:25px;
    height:150px;
}
#red{
    background-color:#FF0200; 
    text-align:right;
}
#blue{
    background-color:#1C01FF;
    text-align:left;
}
#yellow{
    background-color:#FEFF04;
    text-align:right;
    color: #000000;
    /* 
Figure out how to do only the header 2 drop shadow
*/
}
#green{
    background-color:#018000;
    text-align:left;
}

